{% extends "fix.html.twig" %}
{% block content %}
        <div class="container-fluid">
                <center style="margin-top:20px;margin-bottom:20px"><h2 class="d-inline" style="color:#7571f9;">Détails sur cette réclamation</h2></center>
                <div class="row" style="margin-left:350px;margin-right:350px">
                        <div class="col-12">
                                <div class="card">
                                        <div class="card-body">
                                            <center>
                                                <h3 style="color: #1C333E;">Réclamation : {{ Reclamations.intitule }}</h3>
                                                <h4 style="color: #4D6069;">{{ Reclamations.contenu }} </h4>
                                                 {% if Reclamations.image is not empty %}
                                                <h5 style="color: #4D6069;">Image jointe:</h5>
                                                 
                                                <img src="{{ asset(Reclamations.image) }}" width="120" height="100" alt="Votre image">
                                                 
                                                
                                               {% endif %}
                                            </center>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

{% endblock %}