{% extends "fix.html.twig" %}
{% block content %}
        <div class="container-fluid">
                <center style="margin-top:20px;margin-bottom:20px"><h2 class="d-inline" style="color:#7571f9;">Détails sur cet avis</h2></center>
                <div class="row" style="margin-left:350px;margin-right:350px">
                        <div class="col-12">
                                <div class="card">
                                        <div class="card-body">
                                            <center>
                                                <h3 style="color: #1C333E;">Avis : {{ Avis.commenraire }}</h3>

                                            </center>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

{% endblock %}