{% extends "fix.html.twig" %}
{% block content %}
<h1>Liste des classrooms</h1>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Editer</th>
        </tr>
        {% for c in events %}
        <tr>
            <td>{{ c.id }}</td>
            <td> {{ c.lieu }}</td>
            <td>{{ c.titre }}</td>
        </tr>
        {% endfor%}
    </table>
    
{% endblock %}
