{% extends 'base.html.twig' %}

{% block title %}New Demandecovoiturage{% endblock %}

{% block body %}
    <h1>Create new Demandecovoiturage</h1>

    {{ include('demandecovoiturage/_form.html.twig') }}

    <a href="{{ path('app_demandecovoiturage_index') }}">back to list</a>
{% endblock %}
