{% extends 'base.html.twig' %}

{% block title %}Edit Réponses{% endblock %}

{% block body %}
    <h1>Edit Réponses</h1>

    {{ include('réponses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_r_ponses_index') }}">back to list</a>

    {{ include('réponses/_delete_form.html.twig') }}
{% endblock %}
